<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixed Sidebar</title>
    <!-- fontawesome premium icons cdn style link -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
    <!-- <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/sharp-solid.css"> -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- google font roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
 
        <aside>
         <div class="container">
            <div class="tabs">
                <div class="tab ">
                    <a data-toggle="tab0" class="tab-toggle">
                        <span class="tab-icon"><i class="fas fa-b"></i></span>
                    </a>
                </div>
                <div class="tab ">
                    <a data-toggle="tab1" class="tab-toggle">
                        <span class="tab-icon"><i class="fa-light fa-home"></i></span>
                    </a>
                    <ul class="inner-tabs" id="tab1">
                        <li class=""><a href="">Dashboard</a></li>
                    </ul>
                </div>
                <div class="tab ">
                    <a data-toggle="tab7" class="tab-toggle">
                        <span class="tab-icon"><i class=" fa-light fa-cart-flatbed"></i></span>
                    </a>
                    <ul class="inner-tabs" id="tab7">
                        <li class=""><a href="">Manage Orders</a></li>
                    </ul>
                </div>
                <div class="tab ">
                    <a data-toggle="tab2" class="tab-toggle">
                        <span class="tab-icon"><i class="fa-light fa-timer"></i></sp>
                    </a>
                    <ul class="inner-tabs" id="tab2">
                        <li class=""><a href="">Articles</a></li>
                        <li class=""><a href="">Create article</a></li>
                        <li class=""><a href="">Manage article</a></li>
                    </ul>
                </div>
                <div class="tab ">
                    <a data-toggle="tab3" class="tab-toggle">
                        <span class="tab-icon"><i class="fa-light fa-list"></i></span>
                    </a>
                    <ul class="inner-tabs" id="tab3">
                        <li class=""><a href="">Categories</a></li>
                    </ul>
                </div>
                <div class="tab ">
                    <a data-toggle="tab4" class="tab-toggle">
                        <span class="tab-icon"><i class="fa-light fa-box"></i></span>
                    </a>
                    <ul class="inner-tabs" id="tab4">
                        <li class=""><a href="">Varients</a></li>
                    </ul>
                </div>

                <div class="tab ">
                    <a data-toggle="tab5" class="tab-toggle">
                        <span class="tab-icon"><i class="fa-light fa-folder-gear"></i></span>
                    </a>
                    <ul class="inner-tabs" id="tab5">
                        <li class=""><a href="">Customization</a></li>
                        <li class=""><a href="">Banner</a></li>


                    </ul>
                </div>

                <div class="tab ">
                    <a data-toggle="tab6" class="tab-toggle">
                        <span class="tab-icon"><i class="fa-light fa-gear"></i></span>
                    </a>
                    <ul class="inner-tabs" id="tab6">
                        <li class=""><a href="">Setting</a></li>
                    </ul>
                </div>


            </div>
         </div>
        </aside>
 
    <script>
        $("document").ready(function () {

            $(document).click(function (e) {
                if (!$(e.target).closest('.tab').length) {
                    $(".tab").removeClass("active")
                    $(".inner-tabs").removeClass("active")
                }
            })

            $(document).keydown(function (e) {
                if (e.which == 27) {
                    $(".tab").removeClass("active")
                    $(".inner-tabs").removeClass("active")
                }
            })
          
            $(".tab-toggle").click(function () {
                $(".tab").removeClass("active")
                $(".inner-tabs").removeClass("active")
                $("#" + $(this).data("toggle")).toggleClass("active")
                $("#" + $(this).data("toggle")).parent().toggleClass("active")
                $(this).children(".toggle").children("i").toggleClass("active")
            })

        })
    </script>

</body>

</html>
